* {

  margin: 0;
  padding: 0;
}

body {
  background: #eee;
  font-family: sans-serif;
}

.title, .content, .button-container {
  background-color: lightblue;
}

.card {
  padding: 8px;
  width: 400px;
  height: auto;
}

.title {
  font-size: 16px;
  padding: 8px;
  margin-bottom: 8px;
}

.content {
  margin-bottom: 8px;
  padding: 16px 8px;
}

.button-container {
  text-align: center;
  padding: 8px;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  padding: 8px 24px 8px 24px;
}